// footer-utils

// footer-styles

.footer {
  background-color: #2f303a;
  color: $white-color;
  padding: 60px 0;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.footer__container {
  @extend %container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  @media screen and (max-width: 767px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}
/* column-1  */
.footer__address {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.footer__address .logo {
  @extend %logo;
  display: block;
  margin-bottom: 20px;
  &__studio-white {
    color: $white-color;
  }
}
.address {
  // display: flex;
  // flex-direction: column;
  font-style: normal;
}
.address__location {
  display: block;
  margin: 0 0 8px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: $trans-time;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
  &:hover,
  &:focus {
    color: $blue-color;
  }
}

/* присоединяйтесь */

.connect {
  display: block;
  margin-bottom: 60px;
}
.connect__title,
.subscribe__title {
  @extend %block-title;
  margin-bottom: 20px;
}
.connect__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.connect__item:not(:last-child) {
  margin-right: 10px;
}
.connect__link {
  @extend %social-link;
  background-color: rgba(255, 255, 255, 0.1);
  color: $white-color;
  transition: $trans-time;

  &:hover,
  &:focus {
    background-color: $blue-color;
  }
}
.connect__icon {
  @extend %social-icon;
}

/* подписаться на рассылку */

.subscribe {
}
.subscribe__form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.subscribe__input {
  display: block;
  // display: flex;
  // align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 9px 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);
  background-color: $footer-bckgr-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  outline: none;

  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    margin-bottom: 0px;
    width: 358px;
  }
}
.subscribe__btn {
  @extend %button;
  padding: 0 28px;
  display: inline-flex;
  align-items: center;
  margin: 0;
  // padding: 10px 28px;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.subscribe__icon {
  // display: block;
  margin-left: 10px;
}
