.clients {
  @extend %section-padding;
}
.clients__container {
  @extend %container;
}
.clients__header {
  @extend %section-header;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;

  list-style-type: none;
}
.clients__item {
  margin: 15px;
  padding: 0;
  width: calc((100% - 60px) / 2);
  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 3);
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: $icon-color;
  transition: $trans-time;

  &:hover,
  &link {
    border-color: $blue-color;
    color: $blue-color;
  }
}
.clients__icon {
  fill: currentColor;
}
