.advantages {
  @extend %section-padding;
}
.advantages__container {
  @extend %container;
}
.advantages__header {
  @extend %visually-hidden;
}
.advantages__list {
  padding: 0;
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}
.advantages__item {
  display: block;
  margin: 15px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
  }
}
.advantages__icon-box {
  margin-bottom: 30px;
  padding: 25px 0;
  background-color: $light-gray-color;
  border-radius: 4px;
  text-align: center;
}
.advantages__icon {
  width: 70px;
  height: 70px;
}
.advantages__title {
  margin: 0 0 10px 0;
  color: $dark-gray-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.advantages__description {
  margin: 0;
  color: $gray-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
