.gallery {
  @extend %section-padding;
}
.gallery__container {
  @extend %container;
}
.filter {
  display: flex;
  padding: 0;
  margin: 0 0 50px 0;
  justify-content: center;
}
.filter__item {
  list-style-type: none;

  &:not(:last-child) {
    margin-right: 8px;
  }
}
.filter__btn {
  display: inline-block;
  background-color: $light-gray-color;
  color: $dark-gray-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  transition: $trans-time;

  &:hover,
  &:focus {
    background-color: $blue-color;
    color: $white-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}
