%block-title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
%button {
  background-color: $blue-color;
  color: $white-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
%container {
  // width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
}
%form-title {
  display: block;
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: $gray-color;
  transition: $trans-time;
}
%section-header {
  margin: 0 auto 30px auto;
  text-align: center;
  color: $dark-gray-color;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
%section-padding {
  padding: 94px 0;
  @media screen and (max-width: 1599px) {
    padding: 60px 0;
  }
}
%social-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}
%social-link {
  display: block;
  padding: 12px 12px;
  border: 0;
  border-radius: 50%;
}
%logo {
  font-family: raleway;
  color: $blue-color;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-decoration: none;
}
%visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
%adaptive-width {
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
}
