$light-gray-color: #f5f4fa;
$gray-color: #757575;
$dark-gray-color: #212121;
$blue-color: #2196f3;
$white-color: #ffffff;
$footer-bckgr-color: #2f303a;
$icon-color: #afb1b8;
$trans-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
